.ticketsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.ticketList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ticket {
    display: flex;
    flex: 1;
    flex-basis: auto; /* default value */
    width: 600px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
