.TicketsPage {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.TicketListContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.TicketContainer {
    display: flex;
    flex: 1;
    flex-basis: auto; /* default value */
    width: 600px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
