.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.placeOrderButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.signInSignUpContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.placeOrderButtonSeparator {
    height: 50px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 10px;
}

.signInSignUpContainer a {
    display: flex;
    margin-left: 5px
}

.placeOrderInputContainer {
    padding: 20px;
    min-height: 100px;
    width: 100%;
    border-top: 1px solid rgba(1, 1, 1, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartMessageInfoBox {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
}

.hidden {
    display: none
}